body{
    background-color:rgb(88, 188, 255) ;
}

#container{
    background-color: white;
    margin: auto;
    max-width: 500px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
}