body{
    background-color: rgb(91, 168, 255);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#container{
    background-color: whitesmoke;
    max-width: 600px;
    height: 300px;
    margin: auto;
    text-align: center;
    border-radius: 15px;

    box-shadow:  0px 0px 13px -1px;
}

h1{
    padding: 25px;
    font-size: 2em;
}

#relogio{
    font-size: 5em;
}
.buttonI{
    padding: 7px;
    margin-left: 10px;
    margin-top: 25px;

    padding-inline: 10px;

    border: none;
    border-radius: 5px;

    background-color: rgb(64, 255, 64);
   

}
.buttonZ{
    padding: 7px;
    margin-left: 10px;
    margin-top: 25px;
    
    padding-inline: 10px;
    
    border: none;
    border-radius: 5px;

    background-color: rgb(62, 62, 62);
    color: white;

}

.buttonP{
    padding: 7px;
    margin-left: 10px;
    margin-top: 25px;
    border: none;

    color: white;

    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}

.pausado{
    color: red;
}