body{
    background-color: rgb(65, 101, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.container{
    background-color: white;
    max-width:400px;
    padding: 50px;
    border-radius: 10px;
    margin: auto;
}

input{
    display: block;
    margin-bottom: 20px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: solid 0.03px;
    margin-top:10px ;
}

button{
    width: 101%;
    margin: auto;
    padding: 10px;
    border: none;
    background-color:rgb(65, 101, 142) ;
    color: rgb(255, 255, 255);
    font-size: 1.05em;
    border-radius: 5px
}

.error-text{
    font-size: 12px;
    color: red;
}
